<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-4.1.3.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/site.css' %}" /> -->
    <link href="/static/assets/css/font-awsome-5.5.0.css" rel="stylesheet" />

	<script src="{% static 'libs/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'libs/bootstrap/bootstrap-4.1.3.js' %}"></script>
    <script src="{% static 'libs/bootstrap/popper-1.14.3.js' %}"></script>

    
</head>
<body>

<h2>BoardSheet</h2>


<div class="auth content">
        {% block content %}
        {% endblock %}

</div>

</body>
</html>
