{% extends 'survey/one_page_survey.html' %}
{% load i18n %}
{% if token %}
{% block btn_submit %}
<div class="col-lg-12">
    <input type="hidden" id="survey_token" name="token" value=""/>
    <input type="hidden" id="id" name="id" value=""/>
    <script>
    (function(){
        var str = window.location.toString()
        console.log(str);
        var i = str.indexOf('survey');
        var token = '';
        if(i>-1)
        {
            str = str.substr(i)
            var ar = str.split('/');
            let survey_id = ar[ar.length -2];
            document.getElementById('id').value = survey_id;
            if(ar.length > 2)
            {
                token = ar[ar.length - 1];
                if(token)
                {
                    document.getElementById('survey_token').value = token;
                }
            }

        }

    })()
    </script>
    <input type="text" style="display: none" id="iframe_detector" name="is_iframe" />
    <script>
        (function(){
            if(window.self !== window.top)
            {
                document.getElementById('iframe_detector').value = 1;
            }
        })()
    </script>
    <input
        class="btn btn-primary"
        type="submit"
        value="Done & Save"
        style="border-radius:25px;border:none;background-color:#4b74b5;"
        >
</div>
{% endblock btn_submit %}
{% endif %}