{% load bootstrap %}
{% for form in response_form %}
	{% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}
		<div class="col-lg-12" {% if form.errors%} danger {% endif %}">
			<div class="iframe-textarea-wrap" style="border-bottom:1px solid #ced4da;padding-bottom:3rem;padding-top:1rem;margin-bottom:1rem;">
					<h4>
						Q: {{ form.label|safe }}
					</h4>
				<span class="help-inline" style="color:red">
					<strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
				</span>
				{% for field in form %}
					{{ field }}
				{% endfor%}
			</div>
        </div>


		<div class="col-lg-12">
			<script src="/static/assets/libs/jquery/chart.js"></script>
			<script src="/static/js/custom_survey_chart.js"></script>
			{% if form.field.widget.input_type == 'radio' or form.field.widget.input_type == 'checkbox' %}
				<div class="skfjklfjklfj">
					{% for data in chart_data %}
						{% if data.question == form.label|safe %}
							<div style="display:flex" class="voting-results-container">
								<script>
								{% for result in data.question_data %}
									var option_name = "{{result.option_name}}";
									var option_result = "{{result.option_result}}";

									if(window['chartData'])
									{
										window['chartData'].push({'option_name':option_name, 'option_result': option_result })
									}
									else
									{
										window['chartData'] = [{'option_name': option_name, 'option_result': option_result }]
									}
								{% endfor %}
								</script>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
        </div>
	{% endif %}
{% endfor %}
