{% extends 'survey/base.html' %}
{% load i18n %}
{% load survey_extras %}

{% block title %} {{survey.name}} {% endblock title %}

{% block extrajs %}
    {{response_form.media}}
{% endblock %}

{% block body %}
	<div class="col-lg-12 iframe-survey-head">
		<h1 class="HeadingWrap">
			{{survey.name}}
		</h1>
	</div>
<!--	<div class="col-lg-12">-->
<!--		<h4>Description</h4>-->
<!--		<div class="survey-description"> {{survey.description|safe}} </div>-->
<!--	</div>-->
	<div><form action="{% url 'survey-detail' id=survey.id %}" method="post">
	    {% csrf_token %}
        {% for category in categories %}
            <h3> {{category}} </h3>
            <p> {{category.description}} </p>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
				    <div class="panel-heading">
				        <h3 class="panel-title"> <a
				        data-toggle="collapse"
				        data-parent="#accordion"
				        href="#collapse{{category.slugify}}">
				            {% trans "Answer this part" %}
			            </a></h3>
				    </div>
                    <div class="category-container">
				        <div id="collapse{{category.slugify}}" class="panel-collapse collapse
				        {{ response_form|collapse_form:category }}">
				            <div class="panel-body">
	                           {% include "survey/question.html" %}
                            </div>
		                </div>
                </div>
            </div>
        {% empty %}
				<div class="col-lg-12 iframe-survey-head"> <h3> {% trans "Questions" %} </h3></div>
            {% include "survey/question.html" %}
				<script>
				(function(){
				console.log($('textarea').length);
					$('textarea').attr({rows:5})
				})()

				</script>
        {% endfor %}
		{% block btn_submit %}
		<input type="text" id="iframe_detector" name="is_iframe" />
		<script>
			(function(){
				if(window.self !== window.top)
				{
					document.getElementById('iframe_detector').value = 1;
				}
			})()
		</script>
		<div class="col-lg-12">
			<input
				class="btn btn-default btn-lg"
				type="submit"
				value="{% trans "I'm done!" %}"
				>
		</div>
		{% endblock btn_submit %}
	</form></div>
{% endblock %}
