/**/migrations
.idea
*/.idea
.vscode
*/.vscode
db.sql*
*.pyc
/uploaded_files
config.json


*.po
*/__pycache__
*pycache*
db.sqlite3
db.*
!media/
media/*
!media/profile
media/profile/*
!media/profile/default.pngx
!media/profile/ETjUSr1v2n.png
node_modules
*/node_modules
static/build/static
static/build/*.map
package-lock.json
mtest.py
error_log.txt
meetings/static/*.*
esign/static/*.*
