django==2.2
django-tenants==2.2.3
django-tenant-users==0.3.12
requests==2.22.0
urllib3==1.25.7
stripe==2.41.0
django_countries==6.1.2
django-currentuser==0.5.0
httpagentparser==1.9.0
fpdf==1.7.2
djangorestframework==3.11.0
django-nested-admin==3.2.4
