<link rel="stylesheet" type="text/css" href="/static/assets/rtc/getHTMLMediaElement.css">
<link rel="stylesheet" type="text/css" href="/static/assets/rtc/style.css"/>

<div id="rtc-container" class="make-center">
        <h3>Chat Server Running</h3>
    <p style="margin: 0; padding: 0; padding-bottom: 20px;">
    <input type="text" id="room-id" value="abcdef" autocorrect=off autocapitalize=off size=20>
    <button id="open-room">Open Room</button>
    <button id="join-room">Join Room</button>
    <button id="share-screen" disabled>Share Your Screen</button>
    <button id="leave-room" disabled>Hangup (Leave)</button>
    </p>            
    <div id="videos-container" style="margin: 20px 0;"></div>                        
</div>