import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');*/
body{
    font-size: 0.898rem;
    color: #666666;
    }
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, label, input, textarea, select, .form-row p, form .button {
    font-family: "Roboto-Condensed";
}

#container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto; padding-bottom:2rem;}
@media (min-width:576px){#container{max-width:540px}}
@media (min-width:768px){#container{max-width:720px}}
@media (min-width:992px){#container{max-width:960px}}
@media (min-width:1200px){#container{max-width:1140px}}


#content h1 {
    color: #2B2B2B;
    font-size: 1.666rem;
    border-bottom: 1px solid #E1E1E1;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    padding-bottom: 0.7rem;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus, .vTextField:focus {
    border-color: transparent;
    border: 0;
    outline: 0;
}

 select:focus, .vTextField:focus {
    border-bottom: 1px solid #A2A2A2;
    outline: 0;
}
.form-row{ border:0; padding:0 0 20px; }

.aligned label{
	color: #3059C9;
	font-size: 15px;
	font-weight: 500;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 0 #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}
.aligned .form-row input[type="text"], .aligned .form-row input[type="email"]{
	display: block;
	border:0;
	border-radius: 0;
	padding: 0 5px;
	margin: 0;
	font-size: 0.898rem;
	color: #666666;
	border-bottom: 1px solid #ddd;
	width: calc(100%);
}

.aligned .form-row textarea, #questions-group  textarea{
	display: block;
	width: calc(100%);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 5px 15px;
    margin: 5px 0 0 0;
    font-size: 0.898rem;
    color: #666666;
    height: 100px;
    box-sizing: border-box;
}
.aligned select{
	border:0;
	border-radius: 0;
	padding: 0 0 8px 0;
	margin-left: -4px;
	font-size: 0.898rem;
	color: #666666;
	border-bottom: 1px solid #ddd;
}


.module h2, .module caption, .inline-group h2{
	color: #2B2B2B;
	font-size: 30px;
	background: transparent;
	border-bottom: 1px solid #dadada;
	margin: 2rem 0px;
	padding: 0 0 1rem;
	line-height: 1;
}

p.datetime {
    display: flex;
    margin: 0 !important;
    align-items: flex-end;
    font-size: 0.898rem;
    font-weight: 400;
}

p.datetime input[type="text"].vDateField{
    margin: -6px 0 0 10px;
}

p.datetime input[type="text"].vTimeField{
    margin: -6px 0 0 10px;
}

.datetime span .date-icon {
    margin-right: 20px;
}
.module caption, .inline-group h2{
	letter-spacing:inherit;
    text-transform: capitalize;
}
.datetime input
{
    max-width: inherit;
}
@media(min-width:461px)
{
    .datetime span
    {
        display: flex;
    }
    .datetime>span:first-child
    {
        width: 51%;
    }
    .datetime>span:last-child
    {
        width: 49%;
    }
}
@media(max-width:460px)
{
    p.datetime>span
    {
        display: flex;
        width: 100%;
    }
    p.datetime{
        display: inherit;
    }
    p.datetime input[type="text"].vTimeField {
        width: calc(100% - 125px);
        margin: 0;
    }
    .datetime span:last-child
    {
        margin-top:10px;
    }
}
.related-widget-wrapper>.select2 {
    width: calc(100%) !important;
}
.form-row select{
    width: calc(100%);
    border-radius: 0;
    background: transparent;
    border:0;
    border-bottom: 1px solid #ddd ;
}
td.field-type
{
	width:125px;
}
.form-row td.field-type select
{
	width: 120px;
}

