
.form-row.field-attachment
{
    display: none;
}
.fileinput-remove
{
    display: none;
}
.form-row.field-respondents
{
    display: none;
}
.form-row.field-binary_data{
    display: none;
}
.form-row.field-cloud_url{
    display: none;
}
.form-row.field-access_token{
    display: none;
}

.form-row.field-file_name{
    display: none;
}
.aligned p.file-upload{
    margin-left: 0;
}
.preview-conatiner input{
    display: none;
}