{% extends 'admin/base.html' %}
{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="/static/assets/favicon.ico"/>
    <script type="text/javascript" src="/static/assets/libs/jquery/jquery-2.2.4.js"></script>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap-4.1.1-c.css" />
    <script type="text/javascript" src="/static/assets/libs/bootstrap/bootstrap-4.1.1.js"></script>
    <script type="text/javascript" src="/static/assets/js/popup.js"></script>
    <script src="/static/assets/config.js"></script>
    <script src="/static/assets/js/simple_ajax_admin.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/change_form.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css" />
    <script>
        (function(){            
            var service_worker = localStorage.getItem('service_worker');
            // if (!service_worker && 'serviceWorker' in navigator) {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw.js', {
                    
                }).then(function (registration) {
                    localStorage.setItem('service_worker', 1);
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            }
        })()
    </script>
{% endblock %}
{% block footer %}
    <div class="modal fade" id="signModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div id="signature-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <span class="btn btn-primary btn-sm DocsBtn" id="save-sig">Save</span>
                    <button type="button" class="btn btn-sm btn-default" id="close-btn">Close</button>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/secondary.css" />
{% endblock %}