{% extends 'base_public.html' %}
{% block head %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
<section class="curve-light-bg">
    <link rel="stylesheet" href="/static/dj_utils/portal/pay.css">
    <div class="title-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Payment</h2>
                    <h6>Plan Name : {{plan.name }}</h6>
                    <h6>Cost : {{ plan.cost }}</h6>
                    <h6>Valid for : {{plan.days }} days</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="error">{{error | safe}}</div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <form id="subscription_form" action="" method="post" class="form">
                {% csrf_token %}
                <div class="col-12">
                    <div class="form-group">
                        <label>Company</label>
                        <input class="form-control" value="{{company}}" required name="company" id="company_name" />
                        <div>
                            <p id="company_name_error" class="alert alert-danger"></p>
                        </div>
                    </div>
                    <input type="hidden" name="plan_id" value="{{plan.id}}">
                    <input class="form-control" type="hidden" required name="usd_amount" id="amount2" value="{{ plan.cost }}" />
                    <div class="form-group" >
                        <button class="btn btn-primary" id="btn_add_request">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </section>
{% endblock %}