{% extends 'dj_utils/base_public.html' %}
{% block content %}
<section class="curve-light-bg">
    <link rel="stylesheet" href="/static/dj_utils/portal/pay.css">
    <div class="title-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Payment</h2>
                    <h6>Plan Name : {{plan.name }}</h6>
                    <h6>Cost : {{ plan.cost }}</h6>
                    <h6>Valid for : {{plan.days }} days</h6>
                </div>
            </div>
        </div>
    </div>
    <div>{{payment.error | safe}}</div>
    <div class="container">
        <div id="server-wait">
            <div class="text-center">
                <div class="spinner-border text-primary" role="status">
                </div>
                <div class="text">
                    Please wait, we are initializing your company setup...
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <form id="subscription_form" action="" method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label>Company</label>
                    <input class="form-control" value="{{payment.company_name}}" required name="company" id="company_name" />
                </div>
                <div class="form-group">
                    <label>Sub domain</label>
                    <input class="form-control" value="{{payment.sub_domain}}" required name="sub_domain" id="sub_domain" />
                    <p id="company_name_error" class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control" value="{{payment.email}}" required name="email" id="email" />
                    <p id="email_error" class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" required name="password" id="password" />
                    <p id="password_error" class="alert alert-danger">Please Add Password</p>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" required name="confirm_password" id="confirm_password" />
                    <p id="confirm_password_error" class="alert alert-danger">Password must match</p>
                </div>
                <input type="hidden" name="plan_id" value="{{plan.id}}">
                <input type="hidden" name="amount" value="{{plan.cost}}">

                {% if not key %}
                    <button type="submit">Submit</button>
                {% endif %}
                {% if key %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{key}}"
                    data-description="Charge"
                    data-amount="{{ plan.cents_cost }}"
                    data-locale="auto"></script>
                {% endif %}

                <script src="/static/dj_utils/portal/pay.js"></script>
            </form>
        </div>
    </div>
  </section>
{% endblock %}