{% extends 'base_public.html' %}
{% block title %}
{% endblock %}

{% block summary %}
{% endblock %}

{% block instructions %}
    <h3>My Companies</h3>
    {% for customer in list %}
    <ul>
        <li>
            {{customer.id }} -- {{customer.schema_name }} --
            {% if customer.id == 1 %}
                <a href="http://{{customer.domain_url}}{{port}}">Link</a>
            {% endif %}
            {% if customer.id != 1 %}
                <a href="http://{{customer.domain_url}}{{port}}">Link</a>  |
                <a href="delete?id={{customer.id}}">Delete</a>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
{% endblock %}