<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/assets/libs//bootstrap/bootstrap-4.2.1.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/esign.css" />
</head>
<body>
    {% if error %}
        {{ error }}
    {% elif success %}

    
    <div class="router-outlet p-0">
    
        <div name="id" class="e_sign_doc_id" invisible="1" ></div>
    
        <div class="sign-position dev_only" ></div>
        <!--<div class="meetings_div col-md-6">-->
            <!--<strong>Attach to meeting(Optional):</strong>-->
        <!--<select id="dropdown_meeting" style="width:50%"><option value="0">Select Meeting</option></select>-->
        <!--<br><strong class="check_box_send_all" >Send to all attendees:</strong>-->
        <!--<input  id="check_box_send_all" class="check_box_send_all" type="checkbox"/>-->
        <!--</div>-->
        
        <div id="holder">
            <div class="container-fluid">
                <div class="row">
    
                    
                    <div class="docWrapperContainer pr-0 pl-0">
                        <div class="top_btns">
                            <div class="PdfTopBtnsWrapper">
                                <div class="btn  btn-sm doc_btn fa fa-chevron-left" id="prev" ></div>
                                <div class="btn  btn-sm doc_btn fa fa-chevron-right" id="next" ></div>
                                <span class="pg_no"> <span style="font-weight: bold;" id="page_num" ></span> / <span id="page_count" ></span></span>
                                <div class="btn btn-sm doc_btn icon-zoom-out" id="zoomOut" title="Zoom Out" ></div>
                                <div class="btn btn-sm doc_btn icon-zoom-in" id="zoomIn" title="Zoom In" ></div>
                                <span style="display: inline-block;" id="scaleSelectContainer">
                                    <select data-style="btn-primary" id="scaleSelect" title="Zoom" tabindex="23">
                                        <option title="" value="0.5">50%</option>
                                        <option title="" value="0.75">75%</option>
                                        <option title="" value="1">100%</option>
                                        <option title="" value="1.25">125%</option>
                                        <option title="" value="1.5">150%</option>
                                        <option title="" value="2">200%</option>
                                        <option title="" value="3">300%</option>
                                        <option title="" value="4">400%</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div id="viewer_container" style="position:relative;">
                            <div id="nxxt_sign" style="display:none;background:rgba(228, 21, 21, 0.9);color:white;position:absolute;z-index: 99;width:140px;padding: 10px;cursor: pointer;border-bottom-right-radius: 78px;border-top-right-radius: 78px;">START
                                SIGNING</div>
    
                            <div id="page_container1" style="overflow-y:auto;overflow-x:auto;position:relative;">
    
                                <div id="page_container" style="overflow-y:auto;overflow-x:auto;text-align: initial;position:relative;display: inline-block;">
                                    <canvas id="the-canvas" ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
    <div class="modal fade" id="select_user_modal" tabindex="-1" role="dialog" aria-labelledby="SelectUserModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ng-select-user-list">
                    <ng-select
                    [items]="users_list"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="false"
                    [isOpen]="true"
                    bindLabel="name"
                    [searchable] = "true"
                    (change)="setUserSelection()"
                    placeholder="Select User"                
                    [(ngModel)]="selectedUser"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    {% endif %}
    <script src="/static/assets/libs/jquery/jquery-2.2.4.js"></script>
    <script src="/static/assets/libs/js/jquery-ui.min.js"></script>
    <script src="/static/assets/config.js"></script>
    <script src="/static/assets/js/public_simple_ajax.js"></script>
    <script src="/static/assets/annotator/shared/pdf.js"></script>
    <script src="/static/assets/js/esigndoc.js"></script>
    <script>
        window['doc_id'] = "{{doc_id}}";        
        var doc_data = "{{data}}";        
        window['renderPDF'](doc_data);
    </script>
</body>
</html>