<!DOCTYPE html>
<html lang="en">

<head>    
    <base href="/#/" />
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/assets/js/check_user.js"></script>
    <link rel="manifest" href="/static/assets/manifest.json">
    <link rel="apple-touch-icon" href="/static/assets/test.jpg" sizes="160x160">
    <!-- <meta http-equiv="Content-type" content="application/x-www-form-urlencoded; charset=UTF-8"/> -->
    <meta name="theme-color" content="#0A0302">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Board Sheet">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Boardsheet">    

	<title>Boardsheet</title>
	<link rel="shortcut icon" href="">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <script type="text/javascript" src="static/assets/libs/jquery/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="static/assets/config.js" id="config_script"></script>    
</head>
<body class="app sidebar-mini rtl sidenav-toggled public">
    <script type="text/javascript" src="static/assets/js/auth.js"></script>
    <link rel="stylesheet" type="text/css" href="static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    
    <div id="server-wait"
        style="position: absolute;
            z-index: 27;
            top: 0;
            left: 0;
            opacity: 0.3;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;"
    class="loadingoverlay">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
            </div>
            <div class="text">
                Loading resources...
            </div>
        </div>
    </div>

    <div class="partial-loader" style="display: none">
        <div class="spinner-border text-primary" role="status">
        </div>
        <div class="row text">

        </div>
    </div>

    <script type="text/javascript" src="static/assets/js/utils.js"></script>
    <script type="text/javascript" src="static/assets/js/color.js"></script>    
    <script type="text/javascript" src="static/assets/js/libs_load.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/popper.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/bootstrap-4.1.1.js"></script>
    
	<link rel="stylesheet" type="text/css" href="static/assets/css/boardsheet1.css" />
	<link rel="stylesheet" type="text/css" href="static/assets/css/boardsheet.css" />
	<link rel="stylesheet" type="text/css" href="static/assets/css/roboto-condensed-fontface.css" />	
	<link rel="stylesheet" type="text/css" href="static/assets/css/font-awsome-5.5.0.css" />
	<link rel="stylesheet" type="text/css" href="static/assets/css/font-roboto-3.4.5.7.9.css" />

    <link rel="stylesheet" type="text/css" href="static/assets/css/main.css" />
    <script type="text/javascript" src="static/assets/js/json.js"></script>
    <script type="text/javascript" src="static/assets/js/datetime.js"></script>
    <script type="text/javascript" src="static/assets/js/simple_ajax.js"></script>
    <script type="text/javascript" src="static/assets/js/site.js"></script>
	<script type="text/javascript" src="static/assets/libs/js/socket.io.js"></script>
	<script>
		window["io"] = io;
    </script>
    <app-root></app-root>    

	<script type="text/javascript" src="static/assets/js/custom_chart.js"></script>
	<script type="text/javascript" src="static/assets/js/popup.js"></script>
    <script src="static/assets/js/mask.js"></script>
        

    <div class="onedrive_iframe" style="display:none">
        <iframe src="">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>

    <script type="text/javascript">
        (function(){
            function on_onedrive_sdk_loaded(btn){
                var active_cloud_picker = $(btn).closest('.cloud_pickers_container');
                var current_cloud_number = $(".cloud_pickers_container").index(active_cloud_picker);
                var input_type = active_cloud_picker.attr('input_type');
                var redirect_uri = site_config.server_base_url + '/temp/onedrive?picker_index='+current_cloud_number+'&file_type='+input_type;
                // console.log(redirect_uri, 1233);
                $('.onedrive_iframe iframe').attr('src', redirect_uri);
            }
            function one_drive_click(){
                var btn = this;
                on_onedrive_sdk_loaded(btn);
            }
            $('body').on('click', '.one_drive_picker', one_drive_click);
        })();
    </script>
    <link rel="stylesheet" type="text/css" href="static/assets/css/secondary.css" />

    <script type="text/javascript" src="static/build/runtime.js"></script>
    <script type="text/javascript" src="static/build/polyfills.js"></script>
    <script type="text/javascript" src="static/build/main.js.gz"></script>
</body>
</html>
