<!DOCTYPE html>
<html lang="en">

<head>    
    <base href="/#/" />
    <meta charset="utf-8">
    <script type="text/javascript" src="/static/assets/utils/check_user.js"></script>
    <!-- Path to manifest.json -->
    <!-- <meta http-equiv="Content-type" content="application/x-www-form-urlencoded; charset=UTF-8"/> -->
    <meta name="theme-color" content="#0A0302">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Board Sheet">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Boardsheet">    

	<title>Boardsheet</title>
	<link rel="shortcut icon" href="">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script type="text/javascript" src="static/assets/libs/jquery/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="static/assets/config.js" id="config_script"></script>    
</head>
<body class="app sidebar-mini rtl sidenav-toggled public">
    {% if error %}
        <span>{{ error }} | <a href="{{main_url}}">Main Website</a>
    {% else %}
            You are a valid client
            <span>{{ name }} - {{ id }}</span>
            | <a href="{{home_url}}">Home</a> | <a href="{{main_url}}">Public Home</a>
    {% endif %}
    <script type="text/javascript" src="static/assets/authsignup/auth.js"></script>
    <link rel="stylesheet" type="text/css" href="static/assets/libs/bootstrap/bootstrap-4.2.1.css" />

    <div id="server-wait"
        style="position: absolute;
            z-index: 27;
            top: 0;
            left: 0;
            opacity: 0.3;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;"
    class="loadingoverlay">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
            </div>
            <div class="text">
                Loading resources...
            </div>
        </div>
    </div>

    <div class="partial-loader" style="display: none">
        <div class="spinner-border text-primary" role="status">
        </div>
        <div class="row text">

        </div>
    </div>

    <script type="text/javascript" src="static/assets/utils/utils.js"></script>
    <script type="text/javascript" src="static/assets/utils/color.js"></script>
    <script type="text/javascript" src="static/assets/utils/libs_load.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/popper.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/bootstrap-4.1.1.js"></script>

	<link rel="stylesheet" type="text/css" href="static/assets/boardsheet.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/main.css" />
    <script type="text/javascript" src="static/assets/utils/json.js"></script>
    <script type="text/javascript" src="static/assets/utils/datetime.js"></script>
    <script type="text/javascript" src="static/assets/utils/simple_ajax.js"></script>
    <script type="text/javascript" src="static/assets/site/site.js"></script>
	<script>
		window["io"] = io;
    </script>
    <app-root></app-root>    

	<script type="text/javascript" src="static/assets/utils/popup.js"></script>
    <script src="static/assets/utils/mask.js"></script>
        

    <div class="onedrive_iframe" style="display:none">
        <iframe src="">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>

    <link rel="stylesheet" type="text/css" href="static/assets/secondary.css" />
</body>
</html>
