<div class="router-outlet Login-form-wrapper">
    <link rel="stylesheet" href="/static/assets/css/login.css" />    
    <div *ngIf="!sent" class="login-form-div login-form forgot">
        <form>
            <div class="forgot-label"> Please provide your email address </div>
            <div class="form-group input-label-icon">            
                <img class="img-fluid user-icon" src="/static/assets/images/login-user.png" />
                <input 
                    name="email"
                    id="username"
                    placeholder="Email"
                    type="email"
                    class="form-control"
                    [(ngModel)]="email"
                    (keyup)="email_validation()"                        
                    [ngModel]="email"
                    [ngClass]="{ 'is-invalid': !valid }"/>                                
            </div>                    
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div class="form-group text-left">
                <button class="login-btn" (click)="onSubmit()">Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a class="forgot" routerLink="/login">Back to login</a>
            </div>
        </form>
        
    </div>
</div>

<div *ngIf="sent" style="position: fixed;top: 20%;width: 100%;" class="jumbotron text-center">
    <span>An email has been sent to <h3><b>{{email}}</b></h3><br>
        Please check your email, Thanks!</span>
        <a style="font-size: 14px;font-weight: bold;margin-left: 10px;"
        routerLink="/login">Back to login</a>	
</div>
    