{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
<section class="curve-light-bg">
    <div class="title-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Payment</h2>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="WhiteBox">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-7 col-lg-7">
                                <div class="PaymentCreditCardForm FaxForm">
                                    <p>Please enter your Credit Card details to proceed.</p> 
                                  <!--  <h2 class="pb-2">Pay $ {{amount}} </h2> -->                                
                                    <form id="payement_form" action="/payments/callback" method="post" class="form">
                                      {% csrf_token %}
                                        <style>
                                        .stripe-button-el{
                                            display:none;
                                        }
                                        #comapny_name_error{
                                            display:none;
                                        }
                                        #email_error{
                                            display:none;
                                        }
                                        </style>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <input class="form-control" required name="comapny_name" id="comapny_name" />
                                                <div>
                                                    <p id="comapny_name_error" class="alert alert-danger"></p>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" required name="email" id="email" />
                                                <div>
                                                <p id="email_error" class="alert alert-danger">Please Add Email</p></div>
                                            </div>
                                            <input class="form-control" type="hidden" class="form-control" required name="amountpay" id="amount2" value="{{ amount }}" />
                                            <div class="form-group" >
                                                <button id="btn_add_request">submit</button>
                                            </div>
                                        </div>
                                        <script src="/static/portal/pay.js"></script>
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-description="Odufax Charge"
                                        data-amount="{{ amount }}"
                                        data-locale="auto"></script>                                        

                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
{% endblock %}