<!-- <app-breadcrumb title="Calendar"></app-breadcrumb> -->
<div class="row">
    <div class="col-12">    
        <div class="kanban-headings">
            <h3>
                <a class="text-primary" routerLink="/calendar"><i class="icon-calendar"></i> </a>
                <span> Calendar</span>
            </h3>
        </div>
    </div>
</div>


<div class="router-outlet calendarwrapper">
    <link rel="stylesheet" href="/static/assets/css/calendar.css" />
    <div id="calendar"></div>
    <div class="modal fade" id="calenderModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div *ngIf="selected_event" class="modal-content">
                <div class="modal-header">
                    <h4 class="title">
                        {{selected_event.name}}
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="modal-body" class="modal-body">
                    <div id="event-summary">
                        <div class="event-card home-modal-calendar">
                            <div class="o_group o_inner_group">
                                <div class="home-calendar-modal-detail">                                    
                                    <div class="row">
                                        <div *ngIf="selected_event.start_date" class="col-sm-6">
                                            <label >Starting at</label>
                                            <span name="start">{{selected_event.start_date  | date:'medium'}}</span>
                                        </div>
                                        <div *ngIf="selected_event.end_date" class="col-sm-6">
                                            <label >Ending at</label>                        
                                            <span name="stop">{{selected_event.end_date | date:'medium'}}</span>
                                        </div>
                                        <div *ngIf="selected_event.duration" class="col-sm-6">
                                            <label>Duration</label>
                                            <span name="duration">{{selected_event.duration}}</span>
                                        </div>
                                        <div *ngIf="selected_event.location" class="col-sm-6">
                                            <label>Location</label>
                                            <span name="location">{{selected_event.location}}</span>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="selected_event.my_event">
                                        <div *ngIf="selected_event.video_call_link" class="col-sm-6">
                                            <label>Video Call Link</label>
                                            <span name="video_call_link">
                                                <a class="video_call_link" target="__blank" href="{{selected_event.video_call_link}}">{{selected_event.video_call_link}}</a>
                                            </span>
                                        </div>
                                        <div *ngIf="selected_event.conference_bridge_numbe" class="col-sm-6">
                                            <label>Conference Bridge No.</label>
                                            <span name="conference_bridge_number">{{selected_event.conference_bridge_number}}</span>
                                        </div>
                                        <div *ngIf="selected_event.pin" class="col-sm-6">
                                            <label>Meeting PIN</label>
                                            <span name="pin">{{selected_event.pin}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <app-meetingresponse my_event="{{selected_event.my_event}}" meeting_id="{{selected_event.id}}" attendee_status="{{selected_event.attendee_status}}"></app-meetingresponse>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button *ngIf="selected_event.my_event" (click)="navigate_meeting()" type="button" class="btn btn-primary go_details" data-dismiss="modal">Details</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

