<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boardsheet</title>
    <!-- Path to manifest.json -->
    <link rel="manifest" href="/static/assets/manifest.json">
    <link rel="apple-touch-icon" href="/static/assets/test.jpg" sizes="160x160">
    <meta name="theme-color" content="#0A0302">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Board Sheet">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <script type="text/javascript" src="/static/assets/libs/jquery/jquery-2.2.4.js"></script>
    <script type="text/javascript">
        (function(){            
            var service_worker = localStorage.getItem('service_worker');
            // if (!service_worker && 'serviceWorker' in navigator) {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/sw.js', {
                    
                }).then(function (registration) {
                    localStorage.setItem('service_worker', 1);
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            }
        })()
    </script> 
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Boardsheet">
    <meta name="description" content="Boardsheet">
    <meta name="theme-color" content="#2F3BA2" />    
	<link rel="shortcut icon" href="">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />    
    {% block headcontent %}    
    {% endblock %}

</head>
<body>
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <script type="text/javascript" src="/static/assets/config.js" id="config_script"></script>
    <script type="text/javascript" src="/static/assets/js/utils.js"></script>
    <script type="text/javascript" src="/static/assets/js/datetime.js"></script>
    <script type="text/javascript" src="/static/assets/js/simple_ajax.js"></script>
    <script type="text/javascript" src="/static/assets/js/site.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    <script type="text/javascript" src="/static/assets/libs/bootstrap/bootstrap-4.1.1.js"></script>
    <script type="text/javascript" src="/static/assets/libs/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/popper-1.14.3.js"></script>
    {% endblock %}
</body>
</html>
