<app-breadcrumb *ngIf="!loaded_as_child" app="survey" model="survey" 
create="1" 
routes='[{"title":"Actions", "link":"/actions"}]'
title="Surveys"></app-breadcrumb>
<div class="router-outlet">
    <div class="container">
        <div class="kanban-headings">
            <h3>
                <i class="icon-action text-primary"></i> Surveys
            </h3>
            <div *ngIf="!loaded_as_child" class="MeetingBtnWrapper">
                <div class="btn-group">
                    <a routerLink="/actions" class="btn">All</a>
                    <a routerLink="/votings" class="btn">Resolutions</a>
                    <a routerLink="/signdocs" class="btn">E-Signature</a>
                    <a routerLink="/surveys" [ngClass]="{active: '/surveys' == socketService.current_path}" class="btn">Surveys</a>
                </div>
            </div>
        </div>
    </div>
    
	<div class="container">
        <app-search *ngIf="!loaded_as_child" (onsearch)="get_list()"></app-search>

        <div *ngIf="!to_do_only" class="MeetingBtnWrapper StateFilterContainer">
            <div class="btn-group">
                <a [attr.state]="'to do'" (click)="get_records($event.target, 'to do')" class="btn">To Do</a>
                <a [attr.state]="'in progress'" (click)="get_records($event.target, 'in progress')" class="btn">In Progress</a>
                <a [attr.state]="'completed'" (click)="get_records($event.target, 'completed')" class="btn">Completed</a>
                <a [attr.state]="'draft'" *ngIf="socketService.admin_mode" (click)="get_records($event.target, 'draft')" class="btn">Draft</a>
            </div>
        </div>

        <app-paginator *ngIf="!loading && records.length && !loaded_as_child" (reload_data)="get_list()">
        </app-paginator>

        <div class="row">
            <div class="col col-md-6 col-lg-4 mb-4" *ngFor="let survey of records">
                <div class="kanban-card position-relative">
                    <div class="kanban-meeting-info">
                        <div class="kanban-upcoming-meeting" routerLink="/survey/{{survey.id}}">
                            <div *ngIf="survey.open_date" class="CalendarDateWrapper">
                                <span class="CalendarDateWrap">
                                    <span class="kanban-upcoming-meeting-date">
                                        {{survey.open_date.day}}
                                    </span>
                                        <span>
                                        {{survey.open_date.month_year}}
                                    </span>
                                    <span>
                                        {{survey.open_date.time}}
                                    </span>
                                </span>
                            </div>
                            <div class="Info">
                                <p class="text-truncate" *ngIf="survey.name">
                                    <b>{{survey.name}}</b>
                                </p>
                                <span class=" text-truncate" *ngIf="survey.description">
                                    Description: {{survey.description}}
                                </span>
                                <span class=" text-truncate">
                                    {{survey.question_count}} Question<span *ngIf="survey.question_count>1">s</span>
                                </span>
                                <span class="text-truncate" *ngIf="survey.meeting && survey.meeting.name">
                                    Meeting: {{survey.meeting.name}}
                                </span>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between" *ngIf="survey.is_published">
                            <div class="col">
                                <div class="bs-btnwrap survey-top-buttons" id="tdmrb{{survey.id}}" *ngIf="survey.is_respondent">
                                    <a *ngIf="!survey.is_attempted" class="btn" routerLink='/survey/survey/details/{{survey.id}}'>Start Survey</a>
                                    <a *ngIf="survey.is_attempted" class="btn" routerLink='/survey/{{survey.id}}/results'>Survey Results</a>
                                </div>
                                <div class="bs-btnwrap survey-top-buttons" id="tdmrb{{survey.id}}" *ngIf="!survey.is_respondent" [ngStyle]="{'border-top': '1px solid rgba(99, 143, 201, 0.25)'}">
                                    <!-- <a *ngIf="!survey.is_attempted" id="{{survey.id}}" class="btn btn-secondary" routerLink='/surveys'>No Results Yet</a> -->
                                    <a *ngIf="survey.is_attempted || !survey.is_attempted"  class="btn btn-secondary" routerLink='/survey/{{survey.id}}/results'>Survey Results</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="badge badge-warning mt-2 rounded-0 position-absolute" *ngIf="!survey.is_respondent">Not Respondent</span>                
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="no_meet" >
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="jumbotron text-center">
                            <h1>No record found!</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
</div>
