
h2,
h3,
h4{
    margin-bottom: 0;
}
th.d-none.d-md-block{
    margin-block-end: -1px;
}
/* Committee */
a.kanban-committees-info-box:hover{
    color: #959595;
}
a.DocumentWrapper:hover{
    color: #007bff;
}
.kanban-upcoming-meeting .Info{
    color: #8d8d8d;
    font-size: 14px;
}
.kanban-committees-info-box{
    color: #959595;
}
.kanban-committees-info-box p,
.kanban-committees-info-box-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kanban-committees-info-box-name{
    font-size: 1.3rem;
}
.kanban-committees-info-box-img{
    padding: 0 !important;
    float: right;
}
.kanban-committees-info-box-img a{
    margin-left: -16px;
    position: relative;
    border: 2px solid #ffffff;
}

.kanban-profiles-user-info-box{
    background: #f3f3f3;
}
.members-details{
    margin-bottom: 1rem;
    border-bottom: 5px solid #f3f3f3;
    padding-bottom: 1rem;
}
/* End Committee */
.check-status{
    width: 7rem;
    border:1px solid #4B74B5;
    border-radius: 25px;
    height: 30px;
    cursor: pointer;
}
.check-status.Published,.check-status.Unpublished
{
    transition: all 1s ease;
}
.check-status.Published .circle,.check-status.Unpublished .circle
{
    transition: all 1s ease;
}
.check-status.Unpublished{
    background: #fff;
}
.check-status.Published {
    background:#4B74B5;
}
.check-status.Published, .check-status.Published .circle i{
    color: #fff;
}

.check-status.Published span, .check-status.Unpublished span{
    position: absolute;
    top: 0.19rem;
}

.check-status.Published .circle{
    left: 0.2rem;
}

.check-status.Unpublished .circle{
    right: 0.2rem;
}

.check-status.Published .status{
    right: 1rem;
}
.check-status.Unpublished .status{
    left: 0.5rem;
}
.check-status .circle i{
    font-size: 1.4rem;
}

.accordion .card:first-of-type{
    border: 1px solid rgba(0,0,0,.125);
}
.kanban-card{
    border: none;
}
.HeadingWrap-status{
    width: 100%;
}
.DocText, .DocInfoVertical{
    background: #638fc9 !important;
}
.DocName{
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold;
}
.DocName h5 {
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
    font-weight: 700;
}
.resource-info,
.doc-info {
    width: 100%;
    display: inline-block;
}

.doc_icons{
	position: absolute;
	object-fit: contain;
}
.admin_mode{
    width: 50% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bootbox-body-scroll{
    max-height: calc(100vh - 200px) !important;
    overflow-y: auto !important;
}
.readmore{
    color: #4B74B5 !important;
    font-weight: bold;
}
/* .container{
    max-width: inherit;
} */

body.public .popup.messenger{
    display: none !important;
}
.partial-loader{
    display: none;
    position: absolute;
    z-index: 91;
    opacity: 0.3;
    align-items: center;
    background: white;
    width: 80%;
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    top: 0;
}
mention-list.dropup{
    top: 10px !important;
}
.sub_folders .sub.container{
    padding: 0;
}
.sub_folders .search.container{
    display: none;
}
.main-full-seachbar .btn{
    border-radius: 0;
}
.popup{
    z-index: 1;
}
.bg-profile, .bg-heading{
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
}
.bg-heading > div{
    padding: 7px 15px;
}
.bg-profile,
.bg-heading > div{
    background: #4B74B5;
    color: #fff;
    border-radius: 5px;
}
.bg-heading > div:first-child{
    width: 74%;
}
.bg-heading > div:last-child{
    width: 25%;
    margin-left:1%; 
}
.roster-bg > div{
    border:1px solid #fff;
    border-radius: 0;
    padding: 7px 25px
}

.roster-bg > div:last-child{
    width: 25%;
    margin-left:0; 
}
.bg-heading label{
    margin-bottom:0;
}
.bg-profile > div{
    line-height: 2rem;
}
.bg-profile > div:not(:last-child){
    border-right: 1px solid #fff;
}
.left-margin{
    margin-left: -20px;
    align-items: center;
}

.roster-full {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 40px;
    background: #fff;
    width: 100%;
    height: calc(100% - 40px);
    display: none;
    overflow: auto;
}
.bg-userlist,
.bg-roster{
    background: #f3f3f3;
    border: 1px solid #f1eeee;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-circle{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
}
.align-modal-middle.modal{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
.roster .main-full-seachbar{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.pop-heading{
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
}
.pop-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}
.kanban-headings{
    color: #2B2B2B;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-div>app-calendar>.container>.kanban-headings{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.router-outlet .kanban-headings {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.breadcrumbSection + .router-outlet > .container > .kanban-headings,
app-breadcrumb + .router-outlet > .container > .kanban-headings {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}
.board-sheet-paginator {
    padding-top: 1rem;
}
.router-outlet .child-pages{
    padding-top: 1.5rem;
}
.bio-textarea{
    height: 10rem !important;
}
.MeetingBtnWrapper .btn-group .btn.active:hover{
    color: #fff;
}
.StateFilterContainer{
    margin-top: 1rem;
}
.jumbotron{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.router-outlet.actions .jumbotron{
    margin-top: 0;
}
@media screen and (max-width:768px){
    .kanban-headings{
        flex-direction: column;
        align-items: flex-start;
    }
    .MeetingBtnWrapper:not(.StateFilterContainer)
    {
        padding-top: 1rem;
    }
}
@media screen and (min-width: 576px){
    .router-outlet .jumbotron{
        padding: 2rem 0;
    }
}

@media screen and (max-width:480px){
    .roster .table th:first-child,
    .roster .table td:first-child{
        width: 35%;
    }
}
@media screen and (max-width: 390px){
    .roster-full{
        top: 0px;
        height: calc(100% - 25px);
    }
}
