{% extends 'auth_layout.html' %}
{% block page_title %}
    Forgot Password
{% endblock %}
{% block page_content %}
    <div class="auth_form_container">
        <label>Email Address</label>
        <div class="form-group pass_show">
            <input id="email" class="form-control" type="email" required>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary submit-btn" disabled>Submit</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <script type="text/javascript" src="/static/authsignup/forgot_password.js"></script>
{% endblock %}