<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boardsheet</title>
    <!-- Path to manifest.json -->
    <link rel="manifest" href="/static/assets/manifest.json">
    <link rel="apple-touch-icon" href="/static/assets/test.jpg" sizes="160x160">
    <meta name="theme-color" content="#0A0302">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Board Sheet">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">    
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
</head>
<body>
    <div class="router-outlet Login-form-wrapper">
        <link rel="stylesheet" href="/static/assets/css/login.css" />
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12">
                    <div class="login-form-div">
                        <h2 id="offline-message" class="text-center">
                            You are currently offline please check your internet connection.
                        </h2>
                        <script>
                            if(navigator.onLine)
                            {
                                document.getElementById('offline-message').innerHTML = 'Server offline';
                            }
                            else{
                                document.getElementById('offline-message').innerHTML = 'You are currently offline please check your internet connection.';
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<link rel="stylesheet" type="text/css" href="/static/assets/css/boardsheet.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-awsome-5.5.0.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-roboto-3.4.5.7.9.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/secondary.css" />
    <script type="text/javascript" src="/static/assets/libs/jquery/jquery-2.2.4.js"></script>
    <script>
        $(function(){
            var checker = setInterval(function(){
                if(navigator.onLine){
                    console.log('Is online');
                    $.ajax({
                        url: '/user/ping',
                        success: function(result){
                            console.log('Yes now');
                            location.reload();
                            clearInterval(checker);
                        },
                        error: function(result){
                            document.getElementById('offline-message').innerHTML = 'Server offline';
                        }
                    });
                }
                else{
                    document.getElementById('offline-message').innerHTML = 'You are currently offline please check your internet connection.';
                    console.log('No internet');
                }
            },3000);
        });
    </script>
</body>
</html>
