{% extends 'header.html' %}
    {% block headcontent %}
        <style>
            button[type="submit"]:disabled{
                background-color: grey;
            }
            .password-box{
                background: #f9f9f9;
                border: 1px solid #eaeaea;
                padding: 15px;
                margin-top: 80px;
            }

            .pass_show{position: relative} 

            .pass_show .ptxt { 
                position: absolute;
                top: 50%;
                right: 10px;
                z-index: 1;
                color: #f36c01;
                margin-top: -10px;
                cursor: pointer;
                transition: .3s ease all;
            } 

            .pass_show .ptxt:hover{color: #333333;}

            .pass_rules li{
                color: red;
                font-weight: 700;
            }

            .valid-password{
                color: Green !important;
            }
        </style>
    {% endblock %}

{% block content %}
    <script>
        console.log(Date());
    </script>
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    <div class="router-outlet Login-form-wrapper">
        <div class="container">
            <div class="router-outlet" style="padding-bottom: 0;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="password-box">
                            <label>New Password</label>
                            <div class="form-group pass_show">
                                <input id="password" class="new-password form-control" type="password" placeholder="New Password">
                                <span class="ptxt">Show</span>
                            </div>
                            <label>Confirm Password</label>
                            <div class="form-group pass_show">
                                <input class="confirm-password form-control" type="password" placeholder="Confirm Password">
                                <span class="ptxt">Show</span>
                                <input type="hidden" id="token" />
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span>
                                        <span>
                                            Please set password according to the following
                                        </span>
                                        <ul class="pass_rules">
                                            <li class="lower-case-rule">At least one lower case letter</li>
                                            <li class="uper-case-rule">At least one upper case letter</li>
                                            <li class="numeric-rule">At least one numeric chracter</li>
                                            <li class="special-char-rule">At least one special chracter</li>
                                            <li class="max-8-char-rule">Minimume 8 chracters</li>
                                            <li class="password-match-rule">Password
                                                Does not Match</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="feedback"></div>
                                <div class="col-sm-12">
                                    <button class="btn btn-primary submit-btn" disabled>Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/assets/js/change_password.js"></script>
    {% endblock %}