{% extends 'auth_layout.html' %}
{% block page_title %}
    Register
{% endblock %}
{% block page_content %}
    <div class="auth_form_container">
        <div class="form-group">
            <label class="required" for="username">Username:</label>
            <input class="form-control" {% if input and input.username %} value="{{input.username}}" {% endif %} name="username" autofocus="" id="username" required="">
        </div>
        <div class="form-group">
            <label class="required" for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" required="">
        </div>
        <div class="submit-row">
            <input type="hidden" id="next_url" name="next_url" {% if input and input.next_url %} value="{{input.next_url}}" {% endif %}>
            <input type="submit" class="btn btn-primary fadeIn fourth" value="Log In">
        </div>
    </div>
{% endblock %}
{% block page_footer %}
    <script type="text/javascript" src="/static/authsignup/register.js"></script>
{% endblock %}