{% extends 'auth_layout.html' %}
{% block page_title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="auth_form_container">
        <label>New Password</label>
        <div class="form-group pass_show">
            <input id="password" class="new-password form-control" type="password" placeholder="New Password">
            <span class="ptxt">Show</span>
        </div>
        <label>Confirm Password</label>
        <div class="form-group pass_show">
            <input class="confirm-password form-control" type="password" placeholder="Confirm Password">
            <span class="ptxt">Show</span>
            <input type="hidden" id="token" />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span>
                    <span>
                        Please set password according to the following
                    </span>
                    <ul class="pass_rules">
                        <li class="lower-case-rule">At least one lower case letter</li>
                        <li class="uper-case-rule">At least one upper case letter</li>
                        <li class="numeric-rule">At least one numeric chracter</li>
                        <li class="special-char-rule">At least one special chracter</li>
                        <li class="max-8-char-rule">Minimume 8 chracters</li>
                        <li class="password-match-rule">Password
                            Does not Match</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="feedback"></div>
            <div class="col-sm-12">
                <button class="btn btn-primary submit-btn" disabled>Submit</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <script type="text/javascript" src="/static/authsignup/set_password.js"></script>
{% endblock %}