{% extends 'header.html' %}
    {% block headcontent %}

        <style>
            button[type="submit"]:disabled{
                background-color: grey;
            }
        </style>
    {% endblock %}

{% block content %}
    <script>
        console.log(Date());
    </script>
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    <div class="router-outlet Login-form-wrapper">
        <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
        <link rel="stylesheet" href="/static/assets/css/login.css" />
        <span class="loginshape01"><img async class="img-fluid" src="/static/assets/images/loginshape-01.png" /> </span>
        <span class="loginshape02"><img async class="img-fluid" src="/static/assets/images/loginshape-02.png" /> </span>
        <span class="loginshape03"><img async class="img-fluid" src="/static/assets/images/loginshape-03.png" /> </span>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-10 col-md-5 col-xl-5">
                    <div class="login-form-div">
                        <form class="login-form">
                            <a href="/#/" class="login-logo">
                                <img async class="img-fluid" src="/static/assets/images/login-logo.png" />
                            </a>
                            <div class="member-login-box">
                                <img async src="/static/assets/images/member-icon.png" />
                                <span>Enter Your Varification Code</span>
                                <span class="auth_code_message"></span>
                            </div>
                            <div class="form-group input-label-icon">
                                <img async class="img-fluid" src="/static/assets/images/lock-icon.png" />
                                <input id="auth_code" placeholder="Verification Code" formControlName="verify" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            </div>
                            <div class="login-feedback"
                            style="text-align:center; color:red; padding-bottom:10px"
                            ></div>
                            <div class="form-group text-center pl-5 pr-5 mb-2">
                                <button type="submit" class="login-btn">Verify</button>
                            </div>
                            <div class="form-group text-center">
                                <a class="forgot" href="/user/login">Return to Login?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 text-center d-none d-md-block d-lg-block">
                    <img async class="img-key" src="/static/assets/images/login-vector.png" />
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
	    
    {% block footer_javascript %}

    <script>
        console.log(Date());
    </script>

    <script async type="text/javascript" src="/static/assets/js/json.js"></script>
   
	<link rel="stylesheet" type="text/css" href="/static/assets/css/boardsheet.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/libs/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-awsome-5.5.0.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/css/font-roboto-3.4.5.7.9.css" />
	<link rel="stylesheet" type="text/css" href="/static/assets/libs/fullcalendar/fullcalendar.css"/>
	<link rel="stylesheet" type="text/css" href="/static/assets/annotator/shared/pdf.viewer.css"/>
	<link rel="stylesheet" type="text/css" href="/static/assets/annotator/shared/custom.css"/>
	<link rel="stylesheet" type="text/css" href="/static/assets/css/emoji.css" />

    <script type="text/javascript" src="/static/assets/js/verify_code.js"></script>
    <script type="text/javascript" src="/static/assets/libs/js/moment.js"></script>
    
    <script async type="text/javascript" src="/static/assets/libs/fullcalendar/fullcalendar.min.js"></script>

	<script async type="text/javascript" src="/static/assets/libs/js/socket.io.js"></script>

    <script async type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<script async src="/static/assets/libs/toggler/toggler.js"></script>
	<script async type="text/javascript" src="/static/assets/libs/bootstrap/bootbox.js"></script>

    <link href="/static/assets/libs/toggler/toggler.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/libs/select2/select2.css" />
    <link rel="stylesheet" href="/static/assets/libs/select2/default.theme.css" />

    <script async type="text/javascript" src="/static/assets/libs/select2/select2.js"></script>

    <script async type="text/javascript" src="/static/assets/emoji/js/emoji-picker.js"></script>
    <script async type="text/javascript" src="/static/assets/js/chart.js"></script>

	<script async type="text/javascript" src="/static/assets/annotator/shared/pdf.js"></script>
	<script async type="text/javascript" src="/static/assets/annotator/shared/pdf.viewer.js"></script>
	<script async type="text/javascript" src="/static/assets/annotator/annotator.js"></script>

	<script async type="text/javascript" src="/static/assets/js/custom_chart.js"></script>
    <script async type="text/javascript" src="/static/assets/js/custom_signature.js"></script>
	<script async type="text/javascript" src="/static/assets/js/popup.js"></script>

    <script async type="text/javascript" src="/static/assets/rtc/adapter.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/RTCMultiConnection.min.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/getScreenId.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/getHTMLMediaElement.js"></script>
    <script async type="text/javascript" src="/static/assets/rtc/conference.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/secondary.css" />

    <script>
        console.log(Date());
    </script>
    {% endblock %}
