
{% extends 'stripe/layout.html' %}
{% block content %}

<section class="curve-light-bg">
    <div class="title-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Thank You</h2> <h1>{{ user }}</h1>
                </div>
            </div>
        </div>
     </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="WhiteBox">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="PaymentCreditCardForm FaxForm">
                                <h2 class="pb-3">Thanks, you paid <strong>${{amount}}</strong> Now please click Submit to continue!</h2>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <img class="img-fluid" src="{% static 'images/credit-card.png' %}"  alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="loader" id="loader">
    <img class="img-fluid" src="{% static 'images/loader.gif' %}" alt="Loader">
  </div>
{% endblock %}
{% block footer %}
<script>
    function showLoader(){
        document.getElementById("loader").style.display = "flex";
    }
</script>
{% endblock %}