{% extends 'stripe/layout.html' %}
{% block head %}
    <script type="text/javascript">
    </script>
{% endblock %}
{% block content %}
<section class="curve-light-bg">
    <div class="title-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2>Payment</h2>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="WhiteBox">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-7 col-lg-7">
                                <div class="PaymentCreditCardForm FaxForm">
                                    <p>Please enter your Credit Card details to proceed.</p> 
                                  <!--  <h2 class="pb-2">Pay $ {{amount}} </h2> -->                                
                                    <form id="payement_form" action="/stripe/callback" method="post" class="form">
                                      {% csrf_token %}

                                        <!-- <input type="hidden" name="amount" id="amount1" value="{{amount_js}}" /> -->

                                        <div class="row">
                                            <label>Company</label>
                                            <input type="text" required name="comapny_name" id="comapny_name" />
                                        </div>
                                        <div class="row">
                                            <label>Email</label>
                                            <input type="text" required name="email" id="email" />
                                        </div>
                                        <div class="row">
                                            <label>Amount</label>
                                            <input type="text" required name="amountpay" id="amount2" />
                                        </div>
                                        <div class="row" >
                                            <button id="btn_add_request">submit</button>
                                        </div>
                                        <style>
                                        .stripe-button-el{
                                            display:none;
                                        }
                                        </style>
                                        
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-description="Odufax Charge"
                                        data-amount="{{ amount_js }}"
                                        data-locale="auto"></script>                                        

                                    </form>
                                    <script src="/static/pay.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </section>
{% endblock %}