
/* width */
.toolbar.topbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.toolbar.topbar::-webkit-scrollbar-track {
    background: #fff; 
}
.ToolBarWrapper{
    overflow: auto;
}

/* Handle */
.toolbar.topbar::-webkit-scrollbar-thumb {
    background: #ddd !important; 
    border-radius: 0px !important;
}
.toolbar {
    padding: 0;
    flex-wrap: wrap;
}
.toolbar.topbar {
    border: 0;
    color: #ffffff;
}
.toolbar.topbar .doc-manage-btn-wrap{
    text-align: center;
}
/* .doc-manage-btn-wrap.reset{
    display: none;
} */
.back-btn{
    margin-top: 1vh;
    padding: 5px 0;
    width: 100%;
}
/* .toolbar.topbar .doc-manage-btn-wrap:not(last-child){    
    border-bottom: 1px solid;
} */

.toolbar.topbar .doc-manage-btn-wrap:not(.group) > button{    
    padding: 1vh 0;
}

.toolbar.topbar .doc-manage-btn-wrap > button{    
    margin-bottom: 0.8vh;
}


.comment.annotation_button .Icon{
    margin-left: -4px;
}

.toolbar.topbar .doc-manage-btn-wrap.group
{
    padding: 8px 0;
}

button.pen-color.annotation_button.prop {
    margin: 8px auto;
    border: 1px solid;
}


.doc-manage-btn-wrap button:hover, .icon.back:hover {
    background: cornflowerblue;
}
.doc-manage-btn-wrap > button > svg{
    position: absolute;
    top: 0;
    right: 0px;
}
.pager.next.page-next-btn,
.pager.prev.page-prev-btn{
    cursor: pointer;
}

.toolbar.topbar {
    width: 4.2vw;
    min-width: 42px;
    position: relative;
    background: linear-gradient(to bottom, #4b74b5, #4b74b5);    
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;
}
.pen-tool-container > *:not(.pen){
    display: none;
}

.toolbar .spacer {
    display: inline-block;
    border-left: 1px solid #c1c1c1;
    height: 34px;
    margin: 0 5px -11px;
}
.comments-toggler {
    background: green;
    color: wheat;
}
.toolbar a {
    color: inherit;
    text-decoration: none;
}
.toolbar button, .toolbar a {
    background-color: transparent;
    border: 0px solid transparent;
    position: relative;
    font-size: 21px;
    line-height:1;
    color:#ffffff;
    cursor: pointer;
}
/* .topbar .paginator {
    font-size: 17px;
} */
.toolbar .selectBox {
    font-size: 14px;
}
.toolbar button:after {
    content: ' ';
    display: block;
}
.topbar select.scale.toolbar.strt_sign {
    background-color: #5f5e97 !important;
    height: 32px !important;
    color: white !important;
    margin-top: 8px !important;
    font-size: 14px !important;
    font-weight: bold;
}
.toolbar button.pen {
    font-size: 16px;
}
.toolbar button.rectangle:after {
    width: 15px;
    height: 15px;
    border: 1px solid red;
    position: absolute;
    top: 4px;
    left: 4px;
}

.toolbar button.text:after {
    content: 'T';
    font-family: 'Times New Roman';
}
.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    vertical-align: middle;
}
.color-selected {
    border: 3px solid #666;
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-left: -2px;
    margin-right: -2px;
}
select.pen-size{
    height: 20px;
    width: 90%;
    margin-left: 5%;
}
.topbar .pen-color {
    cursor: pointer;
    /* margin-left: 7px; */
    height: 21px;
    width: 21px;
    background-color: black;
}
.cb-container {
    position: relative;
    padding-left: 35px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: -5px;
    margin-left: 10px;
    padding-top: 5px;
}
.cb-container label {
    padding-top: 14px;
    font-size: 14px;
}

/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 13px;
    left: 0;
    height: 22px;
    width: 23px;
    cursor: pointer;
    margin-top: 5px;
    border: 1px solid silver;
    }
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
  /* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
    display: block;
    }
  /* Style the checkmark/indicator */
.cb-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid grey;
    color: grey;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
.toolbar button.unread {
    background-color: red;
    color: white;
    height: 33px;
    font-size: 13px;
    margin-top: 6px;
    font-weight: bold;
    }
.toolbar span.unread {
    background: white;
    color: red;
    padding: 0 5px 0px 4px;
    border-radius: 10px;
    margin-right: 5px;
    }
.input-number {
    display: flex;
    align-items: center;
    }
.search-bar-container {
    display: flex;
    align-items: center;
    }
.input-number input {
    height: 30px;
    color: #333333;
    flex: 1;
    margin-right: 5px;
    width: 90px;
    }
.pdf-searchbar input {
    height: 30px;
    font-size: 14px;
    border: none;
    width: 120px;
    }
.pdf-searchbar button {
    height: 30px;
    color: #757575;
    background: #f0f0f0;
    }
.search-bar-container {
    display: block;
    width: 100%;
    padding: 0rem 60px 0 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    }
.show-hide-arrows {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 7px;
    }
.show-hide-arrows button {
    background: transparent;
    padding: 0 6px;
    min-width: 15px
    }
.topbar .paginator {

}

.topbar .paginator input {
    width: 42px;
    height: 25px;
    padding-left: 5px;
    border: 0;
}
.selectBox select {
    background-image: none !important;
    padding: 0;
}

.search-bar-container .search-hint-text {
    display: none;
    width: fit-content;
    background-color: white;
    color: #7c7bad;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 0;
    border: 2px solid #7c7bad;
    text-shadow: 1px 1px silver;
}

.search-bar-container .search-hint-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #7c7bad transparent;
}

body.pdf-viewer {
    overflow: hidden;
}
#annotated-doc-container {    
    background: #fff;
    position: relative;
    width: 100%;
}

.ToolPdfViwerWrapper{
    display:flex;
}

#viewer-wrapper {
    position: relative;
    flex:1;
    }
#content-wrapper {
    position: relative;
}
#comment-wrapper {
    position: relative;
    width: 330px;
    display: none;
    background: #F8F8F8;
    border-right: 1px solid #e6e6e6;
}
#notification-wrapper {
    position: absolute;
    width: 50px;
    top: 11px;
    right: 0;
    height: 95.7%;
    display: none;
    background: #d4d4d4;
    border-right: 1px solid #e6e6e6;
    overflow-y: auto;
    overflow-x: hidden;
}
.pdfViewer .canvasWrapper {
    box-shadow: 0 0 3px #bbb;
}
.pdfViewer .page {
    margin-bottom: 10px;
}
.annotationLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.comment-header {
    padding: 10px;
    background: linear-gradient(to bottom, #6c6968, #6a6969);
    box-shadow: inset 0 -1px 0 0 #cfd8dc;
}
.comment-header .title {
    font-weight: 500;
    color: #ffffff;
    font-size: 0.890rem;
    }
.show-all-comments {
    float: right;
    cursor: pointer;
    color: #ffffff;
    margin: -2px;
}
.show-all-comments i.fa.fa-times-circle {
    font-size: 20px;
    }
.annotation .show-all-comments {
    display: none;
}
#viewer {
    margin: 0 auto;
}
#viewer.pen_active
{
    cursor: crosshair;
}
#viewer .page:last-child {
    width: 100%;
}
  /*********** Comments ***********/
#comment-wrapper h4 {
    margin: 0;
    padding: 12px;
    text-align: center;
    background: #f5f5f5;
    color: #757575;
}
.comment-list {
    padding-bottom: 65px;
}
.comment-list-container {
    width: 100%;
    padding-bottom: 65px;
    height: calc(100vh - 154px);
    overflow-y: scroll;
    background: #f1f2f4;
    z-index:1;
}    
.comment-list-item {
    font-size: 13px;
    padding: 10px 15px 0px;
    cursor: pointer;
    color: #000000;
    margin: 0 10px;
}
.comments .comment-list-item:first-child{
    border-bottom: 1px solid #ddd;
}
.comment-list-item .user-time-info {
    margin:0;
    padding: 5px 0 0;
    line-height: 1;
}
.comment-details p{
    line-height:1.5;
    word-break: break-all;
}
.comment-details p ~ div{
    display: none;
}
.comment-details p span{
    font-family:inherit !important;
    font-size:13px !important;
}
.comment-list-item .user-time-info .user {
    font-size: .840rem;
    font-family: "Roboto";
    font-weight: 600;
}

/* .comment-list-item .user-time-info span{
    display:block;
} */

.comment-list-item .user-time-info .buttons {
    float: right;
    font-size: 16px;
    background: red;
    width: 15px;
    margin-top: -5px;
    }

.comment-list-form {
    padding-left: 0px;
    position: absolute;
    bottom: 68px;
    width: calc(100% - 17px);
    border: 5px solid #fff;
    background: #ffffff;
    box-shadow: 0 0 0 1px gainsboro;
}
.AddCommentTextWrap {
    width: 94%;
    float: left;
}
#commentText {
    width: 100%;
    resize: none;
    max-height: 45px;
    min-height: 35px;
    border: indianred;
    background-color: white;
    padding: 10px 17px 10px 10px;
    overflow:auto;
}   
.commentText1 i {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.2rem;
    position: relative;
    margin-left: -20px;
    background: white;
    z-index: 1;
}
/****** Full Discussein *******/
.comments .full-discussion .comment-list-item {
    padding-left: 2rem !important;
    margin-bottom: -1rem !important;
    border-left: 1px solid #ddd;
}
.comments .full-discussion .comment-list-item:first-child{
    padding-left: 0 !important;
    margin-bottom: -1rem !important;
    border: 0px;
} 
.comments .full-discussion .comment-list-item:first-child::after,
.comments .full-discussion .comment-list-item:not(:first-child)::after{
    content: "";
    display: block;
    margin: 30px -32px -25px;
    width: 10%;
    padding-top: 0px;
    border-top: 1px solid #ddd;
}
.comments .full-discussion .comment-list-item:first-child::after{
    margin: 30px 0px -25px;
}
.comments .full-discussion .comment-list-item:last-child{
    border-left: 0;
}
.comments .full-discussion .comment-list-item:last-child::after {
    border: none;
    padding-bottom: 20px;
}
/****** Context Menu *******/
.ContextMenuPopup {
    display: none;
    position: fixed;
    z-index: 3;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
    }
.ContextMenuPopup > div {
    float: left;
    text-align: center;
}
.ContextMenuPopup > div > button {
    cursor: pointer;
}
.ContextMenuPopup {
    width: fit-content;
    height: fit-content;
}
/* =================================

Color Popup

==================================*/
.doc-manage-btn-wrap {    
    position: relative;
}

.ColorPalettePopup .row {
    display: flex;
    margin: 2px;
}
.ColorPalettePopup .row .cell {
    flex: 1 0 28px;
    height: 26px;
    margin: 0 1px;
    border-radius: 1px;
    cursor: pointer;
}
.ColorPalettePopup .row .cell.colored .check-mark {
    margin-left: 7px;
}
.light {
    color: black;
}
.dark {
    color: white;
}
.StylePopup {
    width: 160px;
}
hr {
    margin: 5px 0;
}
.groupcomment {
    margin: 0;
    padding: 5px 10px 0px;
    border-bottom: 1px solid #e8e6e6;
}
.groupcomment:last-child{
    border-bottom:none
}
.btn-primary.strt_sign.pdfjs {
    cursor: pointer;
    height: 34px;
    margin-top: 6px;
}
.textLayer {
    line-height: inherit;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}
.textLayer mark {
    padding: 0;
    background: rgba(255, 255, 0, 1);
}
mark.current {
    background: rgba(34, 139, 34, 1);
    color: white;
}
#pdf-annotate-point-input {
    z-index: 2;
}
.topbar select.scale {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent:  calc(50% - 13px);
    text-overflow: '';
    border: 0;
    color: #ffffff;
}
.new_comments_count {
    z-index: 1;
    padding: 0px 5px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: 12px;
    position: absolute;
    font-weight: bold;
}

.annotation-options .Icon{
    color:#000000;
    width:25px;
}
.textLayer > div::selection {
    background: silver;
}
.textLayer > div::-moz-selection {
    background: silver;
}
a.list-group-item {
    background-color: white;
    border-color: silver;
}
a.list-group-item.contact.active {
    background-color: white;
    border-color: silver;
}
.excel_doc {
    padding: 20px;
    display: none;
}

.abcdef{
    position:relative;
}
.annotation_button.selection.active
{
    background-color: navy;
}

.user-pic-time-infoWrapper{
    display:flex;
    position:relative;
}
.userSmpic {
    width: 30px;
    height: 30px;
    position:relative;
    background: #999999;
    border-radius: 30px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    overflow:hidden;
    min-width:30px;
}
.userSmpic.icon-user-single::before {
    position: absolute;
}

.userSmpic img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Documents Comments */
/* .comment-list-item .user-time-info .user, */
.comment-list-item .user-time-info .time{
    position: absolute;
    right: -20px;
}

.comments .comment-list-item:first-child .user-time-info .time::after {
    content: "Reply";
    margin-left: 1rem;
    background: #487db6;
    border-radius: 10px;
    padding: 3px 10px;
    font-size:10px;
    color:#fff;
}
/*
.comment-list-item:nth-of-type(n+1) {
    margin:0 0 0 20px !important;
}

.comment-list-item:nth-of-type(1) {
    margin:0px !important;
}*/
.toggle-tools{
    position: absolute;
    z-index: 1;
    top: -35px;
    right: 0;
    visibility: hidden;
    background: #4b74b5;
    padding: .3rem .85rem;
    cursor: pointer;
}
.comment-list-item>div>span {
    padding-left: 38px;
    display: block;
}
.PenSize{
    cursor: pointer;
}
.PenSize select{
    padding: 0px 15px 5px 5px;
    background-position: 90% 65% !important;
    border: none;
}
span.pager.disabled
{
    background-color: silver;
}
#btn_show_all_point_comments{
    position: absolute;
    right: 36px;
    top: 4px;
}
#comment-wrapper.all_point_comments #btn_show_all_point_comments
{
    display: none;    
}

.toolbar.topbar .doc-manage-btn-wrap:not(.group) > button.add-point-button {
    background: #7c7bad;
    position: absolute;
    top: 45%;
    left: 50%;
    border-radius: 100%;
    padding: 9px;
}
.doc-manage-btn-wrap >button:not(.not-100){
    width: 100%;
}

.toolbar button.add-point-button:hover {
    background-color: green;
}
.error-feedback{
    padding-top:30px;
    widows: 100%;
    text-align: center;
}
.error-feedback button{
    margin-top:10px;
}

.doc-manage-btn-wrap.shared-comments{
    display: none;
}

#annotated-doc-container.no_annotation .annotationLayer,
#annotated-doc-container.no_annotation .annotation-buttons-container,
#annotated-doc-container.no_annotation #comment-wrapper,
#annotated-doc-container.no_annotation .annotation-button-container
{
    display: none !important;
}


#annotated-doc-container.annotator .annotationLayer, 
#annotated-doc-container.annotator .annotation-buttons-container,
#annotated-doc-container.annotator #comment-wrapper
{
    display: block;
}

.toolbar.topbar .doc-manage-btn-wrap.zoom,
.toolbar.topbar .doc-manage-btn-wrap.rotate
{
    margin: 0;
}
.toolbar.topbar .doc-manage-btn-wrap.zoom > button,
.toolbar.topbar .doc-manage-btn-wrap.rotate > button
{
    padding: 1vh 0;
    margin: 0;
}
@media screen and (max-width:576px){
    #comment-wrapper{
        position: absolute;
        z-index: 1;
        margin-top: 5px;
    }
    .ToolBarWrapper{
        right: 0;
        margin-top: 5px;
    }
}

