{% extends 'base.html' %}
{% block header %}
    <h4>
        <a href="/">Home</a>
        <a href="{{request.main_url}}">Portal</a>
    </h4>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/error/error.css">
    <!-- <div id="error_code" style="display:none">{{error_code}}</div>
    </div>
    <div id="explanation"></div> -->
    <div id="error_display"></div>
    <div id="original_error error">{{error}}</div>
    <script src="/static/error/error_parser.js"></script>
{% endblock %}