<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <link rel="stylesheet" href="/static/libs/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="/static/site/site.css">
    <script rel="stylesheet" src="/static/libs/jquery-2.2.4.js"></script>
    <script rel="stylesheet" src="/static/site/utils.js"></script>
    <h3>
        <a href="/">Home</a>
    </h3>
    <div class="wrapper fadeInDown">
        <div id="formContent">        
    
        
        <form id="login-form" action="/authenticate" method="post">
            {% csrf_token %}
            <div>
                <label id="feedback" style="padding: 10px;">{{error}}</label>
            </div>
            <div class="form-group">
                <label class="required" for="username">Username:</label>
                <input class="form-control" name="username" autofocus="" id="username" required="">
            </div>
            <div class="form-group">            
                <label class="required" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" required="">                
            </div>
            <div class="submit-row">
                <input type="hidden" id="next_url" >
                <input type="submit" class="btn btn-primary fadeIn fourth" value="Log In">
            </div>
        </form>
        <script src="/static/site/login.js"></script>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="">Forgot Password?</a>
        </div>
    
        </div>
    </div>
</body>
</html>