{% extends 'base_public.html' %}
{% block title %}{{ tenant.name }}{% endblock %}

{% block summary %}
  <h1>{{ request.tenant.name }}</h1>
  <h2>{{ request.tenant.description }}</h2>
{% endblock %}

{% block instructions %}

    <div class="error text-success">{{message | safe}}</div>
    <div class="error text-danger">{{error | safe}}</div>
    <h3>Customers list</h3>
    {% for customer in list %}
    <ul>
        <li>
            {{customer.id }} -- {{customer.name }}
            {% if customer.id == 1 %}
                <a href="http://{{customer.domains__domain}}{{port}}">Link</a>
            {% endif %}
            {% if customer.id != 1 %}
                <a href="http://{{customer.domains__domain}}{{port}}">Link</a>  |
                <a href="/delete-tenant?id={{customer.id}}">Delete</a>
            {% endif %}
        </li>
    </ul>
{% endfor %}

<hr style="margin-top:10px">

<h3>Create New Customer</h3>

<form id="create-customer" action="/new-tenant">
    New Customer Name: <input name="name" /> <button type="submit">Create Customer</button>
</form>
<script>
$('#create-customer').submit(function(){
    $(this).find('button[type="submit"]').attr('disabled', 'disabled');
});
</script>
{% endblock %}