.subscription-form .loader{
    display:none;
    position:absolute;
    z-index:2;
}
#company_name_error, #email_error, #password_error, #confirm_password_error
{
    display:none;
    color:red;
}
.error{
    text-align:center;
    width:100%;
    color:red;
}
#server-wait{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
