

.upcomingButton{
    display: flex;
    min-width: 240px;
    border-top:1px solid #e9e9e9;
    justify-content: flex-start;
}

.upcomingButton button {
	background: #4B74B5;
	color: #fff;
	border-color: #638FC9;
    padding: 8px;
    font-size: 0.85rem;
    font-size: 13.5px;    
	border: 0;
    border-radius: 25px;
    flex: 1;
    margin: 0.2rem;
    max-width:130px;
}

.upcomingButton button {
	display: flex;
    justify-content: center;
    align-items: center;
}

.upcomingButton button i{
    font-size: 0.75rem;
    margin-right:.3rem;
}
.upcomingButton.greyout button{
    background: silver;    
}