.kanban-profile-card{
    background: #f3f3f3;
    border: 1px solid #f1eeee;
    padding: 12px 0 13px 12px;
    border-radius: 5px;
}
.kanban-profile-card a{
    color: #43425D;
}
.profile-images{
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-row{
    margin-bottom: 0.4rem;
}
.profile-items{
    display: flex;
    align-items: center;
}
.profile-items:last-of-type{
    justify-content:flex-end;
}
.profile-item-content{
    width: 100px;
}
.profile-item-content span{
    padding-left:0.9rem; 
    display: block;
}
.mobile-kanbann{
    display: none;
}
@media screen and (max-width:992px){
    .row.no-gutters .col-3{
        display: none;
    }
    .col-9.pl-2{
        padding-left:0 !important; 
    }
}
@media screen and (max-width:576px){
    .kanban-profile-card img{
        display:none;
    }
    .d-none{
        display: block !important;
    }
}
@media screen and (max-width:480px){
    .d-none{
        display: none !important;
    }
    .mobile-kanbann{
        display: block;
    }
}