
.bg-heading > div{
    line-height: inherit;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.close-btn
{
    width: 100%;
    background-color: #21375a !important;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dddddd; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4B74B5 !important; 
    border-radius: 0px !important;
}
input[type='radio']:after{
    background: #F1F1F1;
    border: 3px solid #F1F1F1;
}
.form-buttons button{
    border-radius: 20px;
    min-width: 70px;
    font-size: 13px;
}
.pl-25{
    padding-left: 0.75rem; 
}
.bg-heading label{
    margin-bottom:0;
}
.custom-control-label::before,
.custom-control-label::after{
    left: -1.25rem;
    top:.15rem;
}
.disabled{
    pointer-events:none;
    background: lightgrey;
}
@media screen and (max-width:992px){
    .display-block{
        display: block !important;
    }
    .form-buttons{
        margin-bottom:10px; 
    }
}
@media screen and (max-width:768px){
    .left-margin{
        margin-left: 0;
    }
}

@media screen and (max-width:576px){
    input[type='radio']:after{
        width: 12px;
        height: 12px;
        top: 0;
        left: 0;
    }



}
@media screen and (max-width:480px){
    .bg-heading{
        font-size: 0.7rem;
    }
    .bg-heading > div{        
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
    .custom-control-label::before,
    .custom-control-label::after
    {
        top:-0.35rem;
        left: 50%;
    }
    .custom-control-label span{
        position: relative;
        top: 0.5rem;
        left: 20%;
    }
    .custom-control{
        padding-left:0; 
    }
}
@media screen and (max-width:320px){
    .custom-control-label span{
        left: 10%;
    }
}