.thankyou{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}
.thanks-content {
    width: 85%;
  }

.thanks-content img{
    width: 100%;
}  
.circle{
    height: 15vh;
}
.circle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #84B0EB;
}
.centered {
    height: 250px;
    background-image: url('/static/assets/images/thankyou1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.centered p{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #4b74b5;
}
