/* button.btn-primary{
    padding: 5px 10px; 
    background: #375990;
}
button.check-time-btn{
    padding: 7px 9px;
    height: 35px !important;
    width: 35px !important;
}
button.btn.btn-sm.btn-primary{
    border-radius: 5px !important;
    min-width: auto !important;
} */