{% extends "admin/change_form.html" %}
{% block content %}
    {{ block.super }}
    <link href="/static/assets/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <script id="dropboxjs" src="https://www.dropbox.com/static/api/2/dropins.js"
    type="text/javascript" data-app-key="pvbda3hm0tpwnod"></script>
    <script type="text/javascript" src="/static/admin/js/utils.js"></script>
    <script type="text/javascript" src="/static/assets/fileinput/file.js"></script>
    <script type="text/javascript" src="/static/assets/fileinput/js/cloudpicker.js"></script>
    <div class="onedrive_iframe" style="display:none">
    <iframe src="">
        <p>Your browser does not support iframes.</p>
    </iframe>
    </div>

    <script type="text/javascript">
    $('body').on('click', '.one_drive_picker', function(){
        var active_cloud_picker = $(this).closest('.cloud_pickers_container');
        var current_cloud_number = $(".cloud_pickers_container").index(active_cloud_picker);
        var input_type = active_cloud_picker.attr('input_type');
        $('.onedrive_iframe iframe').attr('src', site_config.server_base_url+'/temp/onedrive?picker_index='+current_cloud_number+'&file_type='+input_type);
    });
    </script>
    <script src="/static/admin/js/actions_change_form.js"></script>
{% endblock %}