{% extends 'dj_utils/base_public.html' %}
{% block title %}
{% endblock %}

{% block summary %}
{% endblock %}

{% block instructions %}
    <h3>My Companies List</h3>
    {% for customer in list %}
    <ul>
        <li>
            {{customer.id }} -- {{customer.schema_name }} --
            {% if customer.id != 1 %}
                <a href="{{request.protocol}}://{{customer.domain_url}}{{port}}{{auth_token}}">Link</a>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
{% endblock %}